{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="col col-8 offset-2 p-3">
    <div class="row">
        <h1>Reset your password</h1>
    </div>
    {{ form_start(requestForm) }}
        <div class="row mb-2">
            {{ form_label(requestForm.email) }}
            <div class="col">{{ form_widget(requestForm.email) }}</div>
        </div>
        <div class="row mb-2">
            <div  class="offset-2 col">
                <small>
                    Enter your email address, and we will send you a
                    link to reset your password.
                </small>
            </div>
        </div>
        <div class="row mb-2">
            <div  class="offset-2 col">
                <button class="btn btn-primary">Send password reset email</button>
            </div>
        </div>
    {{ form_end(requestForm) }}
</div>
{% endblock %}

{% block sidebar %}
    {% if app.user is not null %}
        {% include "common/sidebar.html.twig" %}
    {% endif %}
{% endblock %}
