.hidden-file-input {
    display: none;
}

.custom_file_upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#user-sidebar {
    background-color: rgba(0,0,0,18%);
    border-radius: 16px;
}

.img-cropped {
    border: 3px solid gray;
    border-radius: 8px;
    object-fit: cover;
    width: 120px;
    height: 120px;
    cursor: pointer;
}


.pop-list {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 350px;
    z-index: 9999;
}

.pop {
    position: relative;
    border: 2px solid var(--white);
    border-radius: 16px;
}

.info-pop {
    background-color: rgba(38,146,0,75%) !important;
    color: var(--white)FFF !important;
}

.error-pop {
    background-color: #ff0000 !important;
    color: var(--white)FFF !important;
}