.hidden-file-input {
    display: none;
}

.custom_file_upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#user-sidebar {
    background-color: rgba(0,0,0,18%);
    border-radius: 16px;
}


