{% extends 'base.html.twig' %}

{% block title %}HotBox Dashboard{% endblock %}

{% block body %}
<div class="col col-8 p-3" id="hb-createupdate-hotbox">
    <div class="row mb-3 border-bottom">
        <h1 class="mb-3">Credits and Acknowledgements</h1>
    </div>
    <div class="row">
        <h2>So I had this crazy idea.</h2>
    </div>
    <div class="row mb-3">
        <div class="col offset-1">Brad Guigar</div>
        <div class="col-3"><a href="https://evil-inc.com">Evil Inc.</a></div>
    </div>
    <div class="row pt-2 border-top">
        <h3>Yeah, I could do that.</h3>
    </div>
    <div class="row mb-3">
        <div class="col offset-1">Matt Sowers</div>
        <div class="col-3"><a href="https://rcsipublishing.com">RCSI Publshing</a></div>
    </div>
{#

    <div class="row pt-2 border-top">
        <h3>Count us in!</h3>
    </div>
    <div class="row mb-3">
        <div class="col offset-1"></div>
        <div class="col-3"><a href=""></a></div>
    </div>
#}
{#

    <div class="row pt-2 border-top">
        <h3>You know, this could use a Wordpress Plugin.</h3>
    </div>
    <div class="row mb-3">
        <div class="col offset-1"></div>
        <div class="col-3"><a href=""></a></div>
    </div>
#}
{#

    <div class="row pt-2 border-top">
        <h3>Hey, I worked on this thing too.</h3>
    </div>
    <div class="row mb-3">
        <div class="col offset-1"></div>
        <div class="col-3"><a href=""></a></div>
    </div>
#}

</div>
{% endblock %}
