function HotBox() {
    this.SERVERURL = "{{ settings.get('server_url').value|raw }}";
    this.init = function() {
        const collection = document.getElementsByClassName("hb-hotbox");
        for ( let i = 0; i < collection.length; i++) {
            let code = collection[i].getAttribute('data-hotbox');
            this.call(code, collection[i]);
        }
    }

    this.call = function(code, target) {
        let dataurl = this.SERVERURL + "/api/hotbox/" + code;
        fetch(dataurl)
            .then((response) => response.json())
            .then((data) => this.build(data, target))
            .catch((error) => console.log(error));
    }

    this.build = function(data, target) {
        target.innerHTML = "{% include "@custom/public/hotbox-widget.js.twig" %}";
    }

    this.init();
}

function Carousel() {
    this.SERVERURL = "{{ settings.get('server_url').value|raw }}";
    this.slideIndex = 0;
    this.delay = 0;

    this.init = function() {
        const collection = document.getElementsByClassName('hb-carousel');
        for (let i = 0; i < collection.length; i++) {
            let code = collection[i].getAttribute('data-carousel');
            this.call(code, collection[i]);
        }
    }
    this.call = function(code, target){
        let dataurl = this.SERVERURL + "/api/carousel/" + code;
        fetch(dataurl)
            .then((response) => response.json())
            .then((data) => this.build(data, target))
            .catch((error) => console.log(error));
    }

    this.injectstylesheets = function(data){
        const addStyle = function(styleString) {
            let style = document.getElementById('carousel-style');
            if (!style) {
                style = document.createElement('style');
                style.setAttribute('id', 'carousel-style');
                document.head.append(style);
            }
            style.append(styleString);
        };
        let overflow = "overflow: hidden;"
        let border = "";
//        let overflow = "";
//        let border = "border: 1px solid red;"
        let code = data.code;
        addStyle(".hb-slider-" + code + " { " + border + " max-width: " + data.width + "px; width: " + data.width + "px; max-height: " + data.height + "px; height: " + data.height + "px; text-align: center; " + overflow + " }");
        addStyle(".hb-slide-fade { overflow: visible !important; }")
        addStyle(".hb-slides { position: relative; display: flex; "  + overflow +  "}");
        addStyle(".hb-slide-fade > .hb-slides { overflow: visible !important; }");
        addStyle(".hb-slider > div.hb-slide-" + code + ".hb-slide {\
    width: " + data.width + "px; \
    height: " + data.height + "px; \
    }");

        addStyle(".hb-slide-fade  div.hb-slide {\
    position: absolute;\
    top: 0;\
    left: 0;\
    }");

        addStyle("@keyframes hb-slidefadeinanim { \
    0% { opacity: 0%; }\
    100% { opacity: 100%; }\
    }");

        addStyle("@keyframes hb-slideshiftleftanim {\
    0% { transform: translateX(0%); }\
    100% { transform: translateX(-100%); }\
    }");

        addStyle("@keyframes hb-slidefadeoutanim { \
    0% { opacity: 100%; }\
    100% { opacity: 0%; }\
    }");

        addStyle(".hb-slider-" + code + " .hb-slidefadein { \
    animation: hb-slidefadeinanim 3s forwards;\
    }");

        addStyle(".hb-slider-" + code + " .hb-slidefadeout { \
    animation: hb-slidefadeoutanim 3s forwards;\
    }");

        addStyle(".hb-slider-" + code + " .hb-slideshiftleft {\
    animation: hb-slideshiftleftanim 3s forwards;\
    }");

        addStyle(".hb-slider-" + code + " .hb-slidecrawlleft {\
    animation: hb-slideshiftleftanim " + data.delay + "s;\
    }");
    }

    this.build = function(data, target) {
        this.delay = data['delay'];
        this.injectstylesheets(data);
        let code = data['code'];
        let transitionFunction = null;
        switch (data.transition) {
            case "Fade":
//                data['items'].unshift(data['items'].pop());
                data['items'].reverse();
                transitionFunction = this.showFade.bind(this, data['delay']);
                break;
            case "Slide":
                transitionFunction = this.showSlide.bind(this);
                break;
            case "Crawl":
                transitionFunction = this.showCrawl.bind(this, data['delay']);
                break;
            default:
                transitionFunction = this.showFlip.bind(this);
                break;
        }
        let output = "<div class='hb-carousel-slider hb-slider-" + code + " hb-slide-" + data.transition.toLowerCase() + "'><div class='hb-slides'>"
        for(const d of data['items']) {
            output += "<div class='hb-slide hb-slide-" + code + "' data-url='" + d.url + "' ><a href='" + d.url + "' target='_blank'><img src='" + this.SERVERURL + "/" + d.image + "' alt='" + d.name + "'></a></div>";
        }
        output += "</div></div>";
        target.innerHTML = output;

        this.start(data.delay, transitionFunction);

    }

    this.start = function(delay, slider) {
        setTimeout(function(){
            let slides = document.getElementsByClassName('hb-slide');
            if (slides.length > 1) {
                slider();
                setInterval(function() {
                    slider();
                }, delay * 1000);
            }
        }, delay * 1000);
    }

    this.doNothing = function()
    {

    }

    this.showCrawl = function(delay)
    {
        let slides = document.getElementsByClassName('hb-slide');
        for (let i = 0; i < slides.length; i++) {
            slides[i].classList.add('hb-slidecrawlleft');
        }
        setTimeout(function(){
            for (let j = 0; j < slides.length; j++){
                slides[j].classList.remove('hb-slidecrawlleft');
            }
            let currentSlide = slides[0].parentNode.removeChild(slides[0]);
            slides[0].parentNode.appendChild(currentSlide);
        }, (delay * 1000)+10)
    }

    this.showSlide = function()
    {
        let slides = document.getElementsByClassName('hb-slide');
        for (let i = 0; i < slides.length; i++) {
            slides[i].classList.add('hb-slideshiftleft');
        }
        setTimeout(function(){
            for (let j = 0; j < slides.length; j++){
                slides[j].classList.remove('hb-slideshiftleft');
            }
            let currentSlide = slides[0].parentNode.removeChild(slides[0]);
            slides[0].parentNode.appendChild(currentSlide);
        }, 3000)

    }

    this.showFade = function(delay)
    {
        let slides = document.getElementsByClassName('hb-slide');



        for (let i = 0; i < slides.length-1; i++) {
            slides[i].classList.remove('hb-slidefadeout');
        }

        slides[slides.length-1].classList.add('hb-slidefadeout');

        setTimeout(function (){
            let currentSlide = slides[0].parentNode.removeChild(slides[slides.length-1]);
            slides[0].parentNode.insertBefore(currentSlide, slides[0]);
        }, 3001);


    }

    this.showFlip = function()
    {
        let slides = document.getElementsByClassName('hb-slide');
        if (this.slideIndex > slides.length-1) {
            this.slideIndex = 0;
        }
        if (this.slideIndex < 0) {
            this.slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[this.slideIndex].style.display = "block";
        this.slideIndex++;
    }


    this.slide = function(width, target)
    {
        constSlideWidth = width;

    }

    this.init();
}



function Webring() {
    this.SERVERURL = "{{ settings.get('server_url').value|raw }}";

    this.init = function() {
        const collection = document.getElementsByClassName('hb-webring');
        for (let i = 0; i < collection.length; i++) {
            let code = collection[i].getAttribute('data-webring');
            let comic = collection[i].getAttribute('data-comic');
            this.call(code, comic, collection[i]);
        }
    }
    this.call = function(code, comic, target){
        let dataurl = this.SERVERURL + "/api/webring/" + code + "/" + comic;
        fetch(dataurl)
            .then((response) => response.json())
            .then((data) => this.build(data, target))
            .catch((error) => console.log(error));
    }

    this.injectstylesheets = function(data){
        const addStyle = function(styleString) {
            let style = document.getElementById('carousel-style');
            if (!style) {
                style = document.createElement('style');
                style.setAttribute('id', 'carousel-style');
                document.head.append(style);
            }
            style.append(styleString);
        };
//        let overflow = "overflow: hidden;"
        let border = "";
        let overflow = "";
//        let border = "border: 1px solid red;"
        let code = data.code;
        addStyle(".hb-webring { display: inline-block; }");
        addStyle(".hb-webring-" + code + " { " + border + " text-align:center; max-width: " + data.width + "px; width: " + data.width + "px; max-height: " + data.height + "px; height: " + data.height + "px; text-align: center; " + overflow + " }");
        addStyle(".hb-webring-" + code + " .hb-nav-box { " + border + " position:relative; float: left; vertical-align: middle; max-width: " + data.nav + "px; width: " + data.nav + "px; max-height: " + data.height + "px; height: " + data.height + "px; text-align: center; }");
        addStyle(".hb-webring-" + code + " .hb-ring-item { " + border + " position: relative; float: left; }");
        addStyle(".hb-webring-" + code + " .hb-nav-box a { color: black; }");

    }

    this.build = function(data, target) {
        this.delay = data['delay'];
        this.injectstylesheets(data);
        let code = data['code'];

        let output = "<div class='hb-webring-webring hb-webring-" + code + "'><div class='hb-webring'>"
        // Previous icon
        output += "<div class='hb-nav-box'><a href='" + data['previous'] + "' target='_blank'>" + data['navprev'] + "</a></div>";

        for(const d of data['items']) {
            output += "<div class='hb-ring-item hb-ring-item-" + code + "' data-url='" + d.url + "' ><a href='" + d.url + "' target='_blank'><img src='" + this.SERVERURL + "/" + d.image + "' alt='" + d.name + "'></a></div>";
        }

        // Next icon
        output += "<div class='hb-nav-box'><a href='" + data['next'] + "' target='_blank'>" + data['navnext'] + "</a></div>";

        output += "</div></div>";
        target.innerHTML = output;
    }


    this.init();
}


window.addEventListener('DOMContentLoaded', () => {
    let hotbox = new HotBox();
    let carousel = new Carousel();
    let webring = new Webring();
});
